.menu-screen {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  background: radial-gradient(
    100% 100% at 0% 0%,
    var(--gradient-dark-background) 0%,
    var(--dark-background) 100%
  );
  transition: opacity 0.3s;
  visibility: hidden;
}

.menu-screen.displayed {
  opacity: 1;
  z-index: var(--menu-z-index);
  visibility: visible;
}

.menu-screen .main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .menu-screen {
    background: var(--dark-background);
    background-image: url('/img/bkgd-menu.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .menu-screen .main {
    flex-direction: row;
  }
}
