body #magicPointer {
  height: 40px !important;
  width: 40px !important;
  z-index: 3000;
  top: 0;
  left: 0;
  position: fixed;
  pointer-events: none;
  height: 120px !important;
  width: 120px !important;
  background: transparent !important;
  transition: filter 0.2s 4s, background 0.2s, width 0.2s, height 0.2s, box-shadow 0.2s,
    transform 0.2s;
}

body #magicPointer::before {
  content: '';
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 40%;
  top: 0;
  left: 0;
  background-color: var(--cursor-color) !important;
  filter: blur(34px);
  transform: scale(1);
  transition: filter 0.2s 4s, background 0.2s, width 0.2s, height 0.2s, box-shadow 0.2s,
    transform 0.2s;
}

body #magicPointer::after {
  content: '';
  display: none;
  position: absolute;
  border-radius: 40%;
  top: calc(120px / 2 - 3px);
  left: calc(120px / 2 - 3px);
  background-color: var(--cursor-color) !important;
  transform: scale(1);
  transition: filter 0.2s 4s, background 0.2s, width 0.2s, height 0.2s, box-shadow 0.2s,
    transform 0.2s;
}

body #magicPointer.is-hover::before {
  transform: scale(0.6);
}

body #magicMouseCursor {
  position: fixed;
  width: 33px;
  height: 33px;
  border-radius: 40%;
  z-index: 9999;
  left: 0;
  top: 0;
  transition: transform 0.07s, width 0.3s, height 0.3s;
  pointer-events: none;
  display: none;
}

body * {
  cursor: none;
}

@media (pointer: fine) {
  body #magicPointer::before,
  body #magicPointer::after {
    display: block;
  }
}
